/* Reset some default styles */
.button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
}

/* Apply styles to the form and its children */
.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}

.submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit:hover {
    background-color: #0056b3;
}

.containermain {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}